.search-domine {
    input {
        padding: 5px 10px;
        border: 0;
        outline: 0;
        width: 70%;
    }

    button {
        background-color: #ff3b3b;
        padding: 5px 10px;
        color: $white;
        margin-right: -4px;
        border: 0;
        width: 20%;
    }
}