.about-us {

    .about-box {

        .text {
            text-align: justify;
        }

        .purecounter-box {
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
            border-bottom: 8px solid rgb(var(--my-color-2));

            span {
                color: rgb(var(--my-color-2));
            }
        }
    }
}