.blog-body {
    .blog-card {
        transition: all .3s;

        img {
            max-height: 230px;
        }

        h3 {
            font-weight: 400;
            font-size: 18px;
            display: block;
            line-height: 2em;
        }

        &:hover {
            box-shadow: 0 0 20px rgb(0 0 0 / 6%);
        }
    }
}