footer {
    * {
        color: rgba($white, 0.7);
    }

    .footer-icon{
        color: rgb(var(--my-color-1));
    }

    p {
        font-size: 15px;
    }

    .social-links,.copy-right-info {
        background-color: #212121;
    }

    .footer-links {
        hr {
            width: 80px;
            border-top-width: 4px;
            height: 4px;
        }
    }
}